<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="testNG.revision">
  <test thread-count="5" name="Functional Testing">
    <classes>
      <class name="testNG.annotations.testcases.FirstTestCase"/>
      <class name="testNG.annotations.testcases.SecondTestCase"/>
    </classes>
  </test> <!-- Functional Testing -->
</suite> <!-- testNG.revision -->
